# Python cache
__pycache__/
*.pyc
*.pyo

# ML folder
ML/

# IDE files
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
docker-compose.yml
**/Dockerfile
**/docker-compose.yml
docker/